@charset "UTF-8";

// animation
a, .btn {
	transition-timing-function: ease;
	transition-duration: 0.3s;
	transition-property: background-color;
}

// radius
.nav-item {
	.nav-link {
		border-radius: 0;
	}
}
.popover,
.card,
.breadcrumb,
.modal-content {
	border-radius: 0;
}
.list-group {
	.list-group-item {
		border-radius: 0;
	}
}

.form-control,
.input-group-addon {
	border-radius: 0;
}

// buttons
.btn {
	position: relative;
	border-width: 0;
	border-radius: 2px;
	outline: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 0;
		padding-top: 0;
		content: "";
		background-color: rgba(236, 240, 241, .3);
		border-radius: 100%;
		transform: translate(-50%, -50%);
	}
	&.active,
	&:active {
		box-shadow: none;
	}
	&.btn-link {
		background-color: transparent;
		box-shadow: none;
	}
}

// dropdown
.dropdown {
	.dropdown-toggle {
		border: 0;
		box-shadow: none;
	}
	.dropdown-menu {
		background: rgba(#fff, .9);
		border: 0;
		border-radius: 0;
		a {
			&:hover {
				color: $brand-primary;
				background: transparent;
			}
		}
	}
}

// btn-shadow
.btn-group,
.btn-group-vertical {
	box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
	.btn-group,
	.btn {
		border-left: 1px solid $gray-lighter;
		box-shadow: none;
	}
}

// navbar
.navbar {
	background-color: rgba(#fff, .9);
	border: 0;
	border-bottom: 1px solid $brand-primary;
	border-radius: 0;
	.navbar-nav {
		> li:not(.active) {
			> a:hover {
				background-color: transparent;
			}
		}
		.dropdown-toggle {
			box-shadow: none;
		}
		@media (min-width: map-get($grid-breakpoints, md)) {
			> li {
				> a:not(.dropdown-toggle) {
					position: relative;
					display: inline-block;
					padding: .4em;
					text-decoration: none;
					&::after {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						content: "";
						background-color: $brand-primary;
						border: 0;
						transition: all .3s ease;
						transform: scaleX(0);
					}
					&:hover {
						&::after {
							transform: scaleX(1);
						}
					}
				}
			}
			// active nav
			.active {
				> a {
					color: $gray-dark;
					background-color: transparent;
					&::after {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 1px;
						content: "";
						background-color: $brand-primary;
						transform: scaleX(1);
					}
					&:hover {
						color: $gray-dark;
						background-color: transparent;
					}
				}
			}
			&.open {
				.dropdown-menu {
					background-color: rgba(255, 255, 255, .4);
				}
				> a {
					color: $gray-dark;
					background-color: transparent;
					&:focus {
						color: $gray-dark;
						background-color: transparent;
						&::after {
							position: absolute;
							bottom: 0;
							left: 0;
							width: 100%;
							height: 1px;
							content: "";
							background-color: $brand-primary;
							transform: scaleX(1);
						}
					}
				}
			}
		}
		// smartphones
		@media (max-width: map-get($grid-breakpoints, sm)) {
			> li {
				&.open,
				&.active {
					> a {
						color: $brand-primary;
						background-color: transparent;
					}
				}
			}
		}
	}
	&.navbar-dark {
		@media (min-width: map-get($grid-breakpoints, md)) {
			.navbar-nav {
				li {
					&.active {
						> a {
							color: $gray-lighter;
							&:hover {
								color: #fff;
							}
						}
					}
					&.open {
						> a {
							color: $gray-lighter;
							background-color: transparent;
							&:hover {
								color: $gray-lighter;
							}
						}
						.dropdown-menu {
							background: rgba($gray-dark, .9);
							.dropdown-item {
								color: $gray-lighter;
								&:hover {
									color: $brand-primary;
								}
							}
						}
					}
				}
			}
		}
	}
}

// フォント指定
.no-thank-yu,
.navbar,
.btn,
.form-control,
.input-gruop,
.breadcrumb,
.nav-tabs,
.nav-pills,
.panel-title,
.list-group,
.pagination,
.pager,
.alert,
.label,
.badge,
.panel-heading,
.lead,
.tooltip,
.popover {
	font-family: $font-family-sans-serif;
}
